body {
    height: fit-content;
    background-image: url('./assets/gfh.jpg');
    background-repeat: repeat;
}
.correct{
    color: lime;
}
.incorrect{
    color: rgb(253, 63, 63);
}
.headliner{
    color:#F75C03
}
.intro-line{
    color: rgb(9,188,140)
}
.qTitle{
    color:#F75C03
}
.godRating{
    color:#17bebb
}